body{
	margin: 0px;
	background: rgba(50, 50, 50, 1);
}

.table_section{
	background-image: url("../images/iruzkinak_sartu.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	align-content: center;
	padding: 8em 13em;
}

.table_container{
	margin: 0em 15em;
	padding: 2em;
	background: rgba(255, 255, 255, 0.90);
	align-items: center;
	align-content: center;
}

table{
	display: inline-block;
	padding: 1em;
	margin: 0em 3em;
	border-collapse: collapse;
}

table th, td{
	padding: 6px;
	border: 1px solid black;
}

table th{
	background-color: grey;
}

table td{
	background-color: #D4F7F7;
}

td:hover{
	background-color: #F7D4D7;
}
