body{
	margin: 0px;
	background-image: url("../images/iruzkinak_sartu.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.form_section{
	text-align: center;
	align-content: center;
	padding-top: 14em;
}

.content_container{
	margin: 0em 15em;
	padding: 1em;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
}

.formularioa{
	display: block;
	align-content: center;
	padding: 1em;
	margin: 0em 3em;
}

.formularioa #publikoa, #lbl_publikoa{
	display: none;
}

.formularioa input, label, textarea{
	margin: 5px;
	vertical-align: middle;
}

#bidali{
	margin-top: 2em;
}
