body{
	margin: 0px;
	background-image: url("../images/iruzkinak_sartu.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.table_section{
	text-align: center;
	align-content: center;
	padding: 3.5em 0em;;
}

.table_container{
	margin: 10em 15em;
	padding: 10px;
	border-radius: 10%;
	background: rgba(0, 0, 0, 0.85);
	text-align: center;
}

.taula{
	background: white;
	border: 1px solid black;
	border-collapse: collapse;
}

.taula th, td{
	border: 1px solid black;
}

.titulu1 {
	color: white;
	top: 8px;
	padding-bottom: 1em;
}
