body{
	margin: 0px;
	background-image: url("../images/iruzkinak_sartu.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	color: black;
}

.table_section{
	padding: 14em;
}

.table_container{
	margin: 0em 16em;
	padding: 5em;
	border-radius: 10%;
	background: rgba(0, 0, 0, 0.85);
	text-align: center;
}

.taula{
	background: white;
	border: 1px solid black;
	border-collapse: collapse;
}

.taula th, td{
	border: 1px solid black;
}